{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod recusandae
  officiis tempore nesciunt repellat quidem distinctio accusantium totam
  consequuntur, iure deleniti corporis consectetur ullam dolor? Optio
  deleniti hic autem libero temporibus impedit et officia sed harum saepe
  illum, accusantium provident iure itaque iste nihil iusto, nulla
  consequuntur. Tenetur qui laudantium inventore quo. Velit doloremque
  consectetur, facilis pariatur reiciendis eveniet? Corrupti dolores
  cupiditate facere accusantium accusamus dicta, aliquam eligendi ducimus
  asperiores commodi. Praesentium laudantium nemo iure labore provident
  aperiam, accusantium quia officia eveniet excepturi quo. Autem labore
  veritatis, pariatur omnis quibusdam vero dolore culpa repudiandae quas
  voluptates quaerat in non corrupti mollitia iusto incidunt quia
  reprehenderit blanditiis error ad ipsam cupiditate nemo molestias? Quod
  debitis cum vero magnam adipisci aperiam esse error eveniet blanditiis,
  totam odio inventore quaerat sit explicabo sed tempore officia libero.
  Facilis, deserunt. Sit assumenda ipsum, illo excepturi nisi recusandae quo
  quia nam et ad quas error porro voluptatem cumque, ea tempora saepe hic
  culpa nihil, non voluptas sequi! Nam fugit quod laborum amet ut ipsa
  consequatur et, hic laudantium maiores, assumenda eligendi voluptatem
  possimus ab cumque. Soluta voluptatem laudantium dolorum commodi at
  facere, praesentium, ratione dolores veritatis sunt molestias quis neque
  ex, ipsum numquam. Maxime soluta adipisci quae enim eaque, atque ex
  mollitia sequi quia quo expedita culpa assumenda minus sapiente nostrum
  incidunt, amet inventore voluptates dolores! Qui fuga velit odio, nihil
  aliquam cumque culpa eum iste veritatis nisi quibusdam repudiandae maiores
  quam saepe reiciendis distinctio voluptatem aspernatur minima dolores
  tempore officiis, quia accusamus! Consectetur perferendis quod id ullam
  enim adipisci, vel accusamus eveniet, officia veritatis praesentium
  voluptatem laboriosam consequatur libero facere laudantium repellat nihil
  quisquam ea tenetur recusandae beatae voluptate. Reprehenderit voluptatem
  ex natus doloremque laudantium voluptate minus enim, aliquam consequatur,
  nemo ea? Corrupti consequuntur, sapiente veritatis quas impedit
  accusantium, nihil fugiat totam qui quis asperiores!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iusto
  ducimus voluptatum aut quas porro harum id delectus consectetur quia odit,
  fuga alias, iste possimus voluptas inventore dolor sequi libero ea
  voluptatibus. Quas molestias accusantium, maiores labore distinctio
  suscipit, accusamus quisquam esse ab, aspernatur alias amet quam nesciunt
  velit. Deserunt unde delectus fuga assumenda et vero. Aliquid dolor
  veritatis ut ex magni error laudantium, tempora in quam, sit eaque porro
  enim, at optio ea voluptate quod dicta. Tenetur ducimus, laboriosam earum
  numquam optio veniam illo exercitationem natus necessitatibus aut sunt
  aliquid assumenda vel quod nihil, rem consectetur. Hic, nulla maxime.
</p>
{% endblock %}